<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
  
<div class="container-fluid errorsection">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-2 col-12 section_left">
                    <a href="/"><button>Go Back</button></a>
                </div>
                <div class="col-md-10 col-12 section_right ">
                    <img src="image/error.avif" alt="404 error ">
                </div>
                

            </div>
        </div>
    </div>

</div>

    {{>scriptlink}}
</body>
</html>