<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
<!-- header-part -->
{{>navbar}}

    <!-- section-part -->
<div class="container-fluid mainsection">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 section_right">
                    <img  src="image/deadpool1.webp" alt="">
                </div>
                <div class="col-md-6 col-12 section_left ">
                    <h2>Hello i'm Sangharsha Thapa</h2>
                    <h3>i'm  <span>Mern Stack Developer</span>  and a <span>Freelancer</span></h3>
                    <a href="https://sangharsha564.github.io/portfolio/"><button>About Me</button></a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- footer-part -->
{{>footer}}



    
 {{>scriptlink}}   
    </body>
    </html>